#main-container {
  font-family: Montserrat, sans-serif;
  border: 2px solid black;
}
#header-img {
  border: 2px solid black;
}
#nav-row {
  display: flex;
  border: 2px solid black;
}
#tribe-row {
  border: 2px solid black;
}

#tribe {
  text-align: center;
  border: 2px solid black;
  max-width: 600px;
}

#video {
  text-align: center;
  border: 2px solid black;
}
@media (min-width: 576px) {
  #featured-row {
    border: 2px solid black;
  }
}
@media (min-width: 576px) {
  #featured-container {
    display: flex;
    justify-content: center;
    border: 2px solid black;
  }
}
@media (min-width: 576px) {
  #price {
    font-size: 10px;
  }
}
#trucks-row {
  border: 2px solid black;
}
#trucks {
  display: inline-block;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  border: 2px solid black;
}
#trucksVideo {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}
#form-row {
  border: 2px solid black;
}
#form {
  border: 2px solid black;
}
#email-label {
  text-align: center;
  border: 2px solid black;
}
#email {
  border: 2px solid black;
}
#submit {
  background-color: #ffd103;
  border: 2px solid black;
}
#footer {
  text-align: center;
  border: 2px solid black;
}
