#main-container {
  font-family: "Montserrat", sans-serif;
  border: 2px solid black;
}
#header-img {
  border: 2px solid black;
}
#nav-row {
  display: flex;
  border: 2px solid black;
}
#tribe-row {
  border: 2px solid black;
}

#video {
  border: 2px solid black;
}
@media (max-width: 600px) {
  #tribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    border: 2px solid black;
  }
  #trucks {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    border: 2px solid black;
  }
}
@media (min-width: 100px) {
  #featured-row {
    border: 2px solid black;
  }
  #featured-container {
    border: 2px solid black;
  }
}
@media (min-width: 100px) {
  #price {
    font-size: 10px;
  }
}

#form-row {
  border: 2px solid black;
}
#form {
  text-align: center;
  border: 2px solid black;
}
#email-label {
  border: 2px solid black;
}
#email {
  border: 2px solid black;
}
#submit {
  background-color: #ffd103;
  border: 2px solid black;
}
#footer {
  text-align: center;
  border: 2px solid black;
}
#footerLink {
  text-decoration: none;
  color: black;
}
#footerLink:hover {
  color: #ffd103;
}
