#main-container {
  font-family: "Montserrat", sans-serif;
  background: #f8f9fa;
  color: #3e2d29;
  border: 2px solid black;
}
#nav-bar {
  margin: 0 auto;
  padding: 0;
}
.iframes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ffd103;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 4px;
}
@media (max-width: 600px) {
  #video {
    width: 60%;
    height: 60%;
    float: center;
  }
}
@media (min-height: 300px) {
  #video {
    width: auto;
    height: auto;
    float: center;
  }
}
@media (min-width: 400px) {
  #video {
    width: auto;
    height: auto;
    float: center;
  }
  #featured-label {
    text-align: center;
    padding-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    color: #3e2d29;
    border: 4px solid #fff;
    border-bottom: 0px;
    border-radius: 4px;
  }
  #featured {
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
  }
  #featured-container {
    padding: 10px;
    background: #fff;
    border: 2px solid #3e2d29;
  }
  #price {
    font-size: 10px;
  }
}
#form {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
#email {
  line-height: 30px;
  margin: 0 auto;
  padding: 0px;
  border: 2px solid black;
  border-radius: 4px;
}
#line {
  background-color: #ffd103;
}
#submit {
  background-color: #ffd103;
  margin: 0 auto;
  border: 2px solid black;
}
#footer {
  text-align: center;
}
#footerLink {
  text-decoration: none;
  color: black;
}
#footerLink:hover {
  color: #ffd103;
}
